.quote {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  width: 70%;
  color: blue;
}
